body{
    font-size: 20px;
    background-color: grey;
}

.container{
    margin-top:5vh;
    background-color: beige;
}

.list{
    height:400px;
    overflow:auto;
    border: 1px solid black;
}

.archive{
    height:400px;
    overflow:auto;
    border: 1px solid black;
}

.archive td{
    color:grey;
    text-decoration: line-through;
}

button{
    margin-top: 3vh;
}

/* #envois{
    display: flex;
    flex-direction: space-around;
    justify-content: center;
} */