body{
    font-size: 20px;
    background-color: grey;
}

.container{
    margin-top:6vh;
    background-color: beige;
}

.list{
    height:400px;
    overflow:auto;
}

.archive{
    height:400px;
    overflow:auto;
}

.archive td{
    color:grey;
    text-decoration: line-through;
}